<div class="container-fluid">
  <div class="skill row">
    <div class="col-12">
      <div class="card-body shadow rounded">

        <app-edition></app-edition>

        <h2>Skills</h2>

        <div class="row" *ngFor="let skill of skills">
          <div class="col-12">
            <h3>{{skill.skill}}</h3>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: {{skill.percentage}}%"
                aria-valuenow="skill.percentage"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
