<div class="container-fluid">
  <div class="project row">
    <div class="col-12">
      <div class="card-body shadow rounded">

        <app-edition></app-edition>

        <h2>Proyectos</h2>

        <div class="row justify-content-between row-cols-lg-3 row-cols-md-3 row-cols-sm-2 g-0">
          <div class="card shadow-sm" *ngFor="let project of projects">
            <img
              class="card-img-top"
              [src]="project.image"
              [alt]="project.title"
            />
            <div class="card-body">
              <h3 class="card-title">
                {{ project.title }} | {{ project.project_year }}
              </h3>
              <p class="card-text">{{ project.details }}</p>
              <a class="btn" [href]="project.link" target="_blank">Link</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
