<div class="container-fluid">
  <div class="education row">
    <div class="col-12">
      <div class="card-body shadow rounded">
        <div class="edition">
          <button type="button" class="btn float-end">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>

          <button type="button" class="btn float-end">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </button>
        </div>

        <h2>Education</h2>

        <div class="row mile" *ngFor="let education of educations">
          <div class="thumbnail col-1">
            <img [src]="education.thumb" [alt]="education.institution"/>
          </div>
          <div class="details col-11">
            <h3>{{education.institution}} | {{education.from_date}} - {{education.to_date}}</h3>
            <p><b>{{ education.title }}</b> {{education.details}}
            </p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="thumbnail col-1">
            <img
              src="assets/images/education/arg.png"
              alt="Argentina Programa"
            />
          </div>
          <div class="details col-11">
            <h3>Argentina Programa | 2021.10 - 2022.08</h3>
            <p>
              <b>Etapa 1 #SeProgramar:</b> fundamentos, programación imperativa
              y programación con objetos.<br />
              <b>Etapa 2 #YoProgramo:</b> arquitectura web, gestión de tiempo,
              SCRUM, GitFlow, HTML, CSS, JS, Bootstrap, TypeScript, SPA, MVC,
              Angular, Bases de Datos Relacionales, UML, POO, patrones de
              diseño, Java, Spring Boot, Dev Ops, comunicación efectiva
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img src="assets/images/education/uda.png" alt="Udacity" />
          </div>
          <div class="details col-11">
            <h3>Udacity | 2021.12 - 2022.01</h3>
            <p>
              <b>Object Oriented JavaScript:</b> objetos en profundidad,
              funciones en tiempo de ejecución, clases y objetos, patrones de
              diseño orientado a objetos.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img src="assets/images/education/alk.png" alt="Alkemy" />
          </div>
          <div class="details col-11">
            <h3>Alkemy | 2021.10 - 2022.02</h3>
            <p>
              <b>Aceleración en NodeJS:</b> certificación job ready. Desarrollo
              en equipo de API para ONG en Node, Express, MySQL, Sequelize, JWT,
              Sendgrid, S3, Swagger, Mocha & Chai. Metodologías ágiles, Git,
              buenas prácticas.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img
              src="assets/images/education/mdu.png"
              alt="MongoDB University"
            />
          </div>
          <div class="details col-11">
            <h3>MongoDB University | 2021.08 - 2021.09</h3>
            <p>
              <b>M220JS MongoDB for JS Developers.</b> Client configuration,
              basic reads. Basic aggregation, updates, deletes and joins. Read
              concerns and bulks. Resiliency.<br />
              <b>M103 Basic Cluster Administration.</b> Environment setup.
              Mongod. Replication. Sharding.<br />
              <b>M001 MongoDB Basics.</b> Atlas, Compass & Shell. BSON, JSON,
              importing and exporting data, and basic document queries. Insert,
              update, and delete operations. Query operators. Aggregation,
              indexes, data modeling.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img src="assets/images/education/acc.png" alt="Accenture" />
          </div>
          <div class="details col-11">
            <h3>Accenture | 2021.06 - 2021.06</h3>
            <p>
              <b>Habilidades Blandas:</b> taller orientado a mejorar la
              autoconfianza, flexibilidad, trabajo en equipo y comunicación
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img
              src="assets/images/education/ctc.png"
              alt="Cluster Tecnológico de Catamarca"
            />
          </div>
          <div class="details col-11">
            <h3>Cluster Tecnológico de Catamarca | 2021.05 - 2021.07</h3>
            <p><b>Bootcamp NodeJS</b></p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img src="assets/images/education/cac.png" alt="Codo a Codo 4.0" />
          </div>
          <div class="details col-11">
            <h3>Codo a Codo 4.0 | 2021.04 - 2021.08</h3>
            <p>
              <b>Web Fullstack JS + NodeJS:</b> HTML, CSS, Bootstrap, JS, GIT,
              Scrum, Arquitectura, Bases de Datos, Node, NPM, Express.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img src="assets/images/education/ibm.png" alt="IBM" />
          </div>
          <div class="details col-11">
            <h3>IBM | 2021.03 - 2021.03</h3>
            <p>
              <b>Enterprise Design Thinking Practitioner.</b> Bases del Design
              Thinking: colaboración, síntesis, design research, prototipado y
              storytelling.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img
              src="assets/images/education/fal.png"
              alt="Fundación Argentina de Logoterapia"
            />
          </div>
          <div class="details col-11">
            <h3>Fundación Argentina de Logoterapia | 2020.08 - 2020.12</h3>
            <p>
              <b>Orientadora en Desarrollo Humano.</b>
              Estrategias y recursos para el desarrollo humano, orientado a
              valores y propósito, en el ámbito educativo y organizacional,
              fundados en la Antropología Existencial Frankleana.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail col-1">
            <img
              src="assets/images/education/utn.png"
              alt="Universidad Tecnológica Argentina"
            />
          </div>
          <div class="details col-11">
            <h3>UTN Extensión Universitaria | 2010 - 2014</h3>
            <p>
              <b>Fundamentos de la Programación.</b> Lenguajes y paradigmas.
              Algoritmos, lógica, seudocódigo y diagramas. Variables y tipos.
              Estructura de datos. POO.<br />
              <b>Desarrollo Avanzado con JS, JQuery y JSON.</b> Manipulación del
              DOM y nodos. Elementos, atributos, estilos. Jerarquías,
              selectores, atributos, funciones, métodos, eventos, objetos. JSON.
              AJAX.<br />
              <b>Desarrollo web con JavaScript.</b> Estructuras de control de
              flujo, funciones y propiedades. Principios POO. Prototipos,
              funciones, eventos. DOM, BOM. Librerías y frameworks.<br />
              <b>Professional Webmaster.</b> Protocolos, browsers, DNS,
              dominios, ISPs, hosting. Illustrator y Photoshop. HTML / CSS. SEO.
              Programación, tipos, algoritmos, metodología, lenguajes,
              servidores y plataformas. DB relacionales. Modelos de datos.
              Servidores locales. PHP. MySQL. JavaScript. Librerías. Funciones.
              Eventos.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
