<div class="container-fluid">
  <div class="education row">
    <div class="col-12">
      <div class="card-body shadow rounded">

        <app-edition></app-edition>

        <h2>Education</h2>

        <div class="row mile" *ngFor="let education of educations">
          <div class="thumbnail col-1">
            <img [src]="education.thumb" [alt]="education.institution"/>
          </div>
          <div class="details col-11">
            <h3>{{education.institution}} | {{education.from_date}} - {{education.to_date}}</h3>
            <p>
              <b>{{ education.title }}</b><br/>
              {{education.details}}
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
