.add-experience {
  margin: 10em auto;
  width: 70%;
  height: 29em;
}

.add-experience input {
  font-size: small;
  margin-bottom: 1em;
}

.add-experience .btn {
  background-color: #212529;
  color: #EEEDF3;
  width: 100%;
  margin: 1em auto;
}