<div class="container-fluid">
  <div class="experience row">
    <div class="col-12">
      <div class="card-body shadow rounded">

        <app-edition></app-edition>

        <h2>Experience</h2>

        <div class="row milestone" *ngFor="let experience of experiences">
          <div class="thumbnail col-1">
            <img [src]="experience.thumb" [alt]="experience.institution"/>
          </div>
          <div class="details col-11">
            <h3>{{experience.company}} | {{experience.from_date}} - {{experience.to_date}}</h3>
            <p>
              <b>{{ experience.title }}</b><br/>
              {{experience.details}}</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
